<section class="grid grid-cols-2 gap-2 p-4 w-full">
    <section class="flex gap-2 items-center border p-4 rounded bg-gray-100 drop-shadow-sm w-full">
        <p>Limit: {{ customer.max_executions }}</p>
        <p>Current: {{ customer.executions }}</p>
    </section>
    <section class="flex row-span-2 gap-2 items-center border p-4 rounded bg-gray-100 drop-shadow-sm w-full">
        Some other data
    </section>
    <section class="flex gap-2 items-center border p-4 rounded bg-gray-100 drop-shadow-sm w-full">
        {% if has_token %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-green-800">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-red-800">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        {% endif %}
        <p>Your Wialon account <span class="font-semibold underline">{{ has_token|yesno:'is,is not' }}</span> connected.</p>
    </section>
</section>
