<div class="flex flex-col gap-8">
    <section class="mx-4 flex flex-col gap-4 text-pretty bg-gray-300">
        <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">Live Notifications, Instantly Delivered</h2>
        <p>Stay connected in real time. Receive live alerts straight to your mobile device the moment something important happens. Fully customizable so you only get the notifications that matter most to your operation.</p>
    </section>
    <section class="mx-4 flex flex-col gap-4 text-pretty">
        <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">Custom Notification Management</h2>
        <p>Create, edit and organize alerts for each of your units.</p>
    </section>
    <section class="mx-4 flex flex-col gap-4 text-pretty">
        <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">Simplified Payment Manager</h2>
        <p>Manage your notification subscriptions and payments all in one place. Track your active subscription, upgrade instantly and scale your usage as your needs grow.</p>
    </section>
    <section class="mx-4 flex flex-col gap-4 text-pretty">
        <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">Comprehensive Dashboard</h2>
        <p>Monitor how your team uses notifications with a clear, data-driven dashboard. Track total alerts sent and optimize your notifications for better efficiency and cost control.</p>
    </section>
    <section class="mx-4 flex flex-col gap-4 text-pretty">
        <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">Dedicated In-House Support</h2>
        <p>Our expert <a href="mailto:support@terminusgps.com" class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white">support team</a> is always ready to help with account questions, billing issues or technical setup.</p>
    </section>
</div>
